<mat-toolbar color="primary">
  <!-- <span>
    {{ 'APP.TITLE' | translate }}
  </span>
  <span>
    <i class="fas fa-music app-icon"></i>
  </span> -->
</mat-toolbar>

<div class="app-body">
  <div class="menu-container">
    <mat-selection-list class="app-menu" #location [multiple]="false" (selectionChange)="onNavigate($event)">
      <!-- <mat-list-option value="home" routerLink="/home">
        <mat-icon mat-list-icon>
          <i class="fas fa-home"></i>
        </mat-icon>
      </mat-list-option> -->
      <mat-list-option value="journal" selected="true" routerLink="/journal">
        <mat-icon mat-list-icon>
          <i class="fas fa-calendar-check"></i>
        </mat-icon>
      </mat-list-option>
      <mat-list-option value="progress" routerLink="/progress">
        <mat-icon mat-list-icon>
          <i class="fas fa-chart-pie"></i>
        </mat-icon>
      </mat-list-option>
      <mat-list-option value="search" routerLink="/search">
        <mat-icon mat-list-icon>
          <i class="fas fa-search"></i>
        </mat-icon>
      </mat-list-option>
      <mat-list-option value="docs" routerLink="/docs">
        <mat-icon mat-list-icon>
          <i class="fas fa-cubes"></i>
        </mat-icon>
      </mat-list-option>
      <mat-list-option value="settings" routerLink="/settings">
        <mat-icon mat-list-icon>
          <i class="fas fa-cog"></i>
        </mat-icon>
      </mat-list-option>
    </mat-selection-list>

    <!-- <p>
      Option selected: {{location.selectedOptions.selected[0]?.value}}
    </p> -->
  </div>
  
  <div class="router-container">  
    <router-outlet></router-outlet>
  </div>
</div>
