:host {
  
}

.app-body {
    display: flex;
}

.menu-container {
    width: auto;
    height: auto;
    // background-color: lightgrey;
}

.app-menu {
    padding-top: 0px;
}

.router-container {
    padding: 1em;
    // height: auto;
    // overflow-y: scroll;
}

.app-icon {
    margin-left: 1em;
}