<ng-template [ngIf]="!loading">

    <ng-template [ngIf]="enableSelection" [ngIfElse]="nonSelection">
        <mat-selection-list role="list">
            <div mat-header>
                {{ todo.name }}
            </div>
            <ng-template ngFor let-item [ngForOf]="todo.items" let-i="index">                
                <mat-list-option role="listitem" checkboxPosition="before">
                    {{ item.name }}
                </mat-list-option>
            </ng-template>
          </mat-selection-list>
    </ng-template>

    <ng-template #nonSelection>
        <mat-list role="list">
            <div mat-header>
                {{ todo.name }}
            </div>
            <ng-template ngFor let-item [ngForOf]="todo.items" let-i="index">
                <mat-list-item class="container" role="listitem">
                    <div mat-line>
                        {{ item.name }}
                    </div>
                    <button class="hidden-child" mat-icon-button aria-label="Remove item" (click)="deleteRow(i)">
                        <i class="fas fa-times"></i>
                    </button>
                </mat-list-item>
            </ng-template>
        </mat-list>
    </ng-template>
    
    <tc-text (emitValue)="addItem($event)" [useAutofocus]="true"></tc-text>
</ng-template>